.Productos{
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}

#contenedorProductos{

    margin-top: 20px;
    display: grid;                 
    grid-template-columns: repeat(auto-fit, minmax(250px, auto)); 
    /*Esto lo he usado porque sino no conseguia que quedase centrado y que ocupase un espacio determinado*/
    /*Si no lo usaba quedaba centrado pero sin margenes*/
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;

}

.cardVinos {
  width: 100%;
  height: 420px;
  background-color: var(--color-background);
  padding: 30px;
  padding-bottom: 0;
  border-radius: 32px;
  box-shadow: 0 4px 10px var(--color-primary);
  text-align: center;

  display: flex;
  flex-direction: column;

    cursor: pointer;
}

.cardVinos:hover{
    background-color: var(--color-primary);
    color: var(--color-background);

}

.cardVinos:hover h4{
    color: var(--color-background);
}

.cardVinos img{
  width: 100%;
  max-width: 200px; /* o el tamaño que quieras */
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: auto;

}

.cardVinos h4{
    font-family: 'FuenteBody';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    color: var(--color-primary);
}

.cardVinos{
    color: var(--color-primary);
}