.page{
    background-image: url('../../../../public/img/botellas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.page h1{
    font-size: clamp(6rem, 19vw, 20rem);
    text-align: center;
    color: var(--color-primary);
}

.page p{
    font-size:3rem;
    color: var(--color-secundary);
}