/*Estilos para todo el proyecto*/
:root{
    --color-primary:#8C1423;
    --color-secundary:#555453;
    --color-background:#CBC0B2;
    --color-accent:#FFFFFF;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Establecemos las fuentes dentro del proyecto*/

@font-face {
    font-family: 'FuenteTitulos';
    src: url('assets/fonts/KASTROO.ttf');
}

@font-face {
    font-family: 'FuenteBody';
    src: url('assets/fonts/caviar_dreams/CaviarDreams.ttf');
    font-size: normal;
}

body{
    font-family: 'FuenteBody';
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FuenteTitulos', serif;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0, "clig" 0, "calt" 0;
    font-weight: 500;

}

.page{
    min-height: 100vh;


   
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
